@import "../../../styles.scss";

:host {
  align-self: flex-end;
  margin-right: 5%;
  margin-top: 5%;
}
.country-info__information {
  color: white;
  background-color: rgba(128, 128, 128, 0.6);
  backdrop-filter: blur(8px);
  padding: 2rem 3rem;
  border: 2px solid white;
  border-radius: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;

  gap: 10px;

  & p {
    margin: 0;
    & span {
      font-weight: bold;
      font-style: italic;
      font-size: 25px;
      text-transform: capitalize;
      @include prismFont();
      margin-right: 10px;
    }

    @include wrapFont(26px);
  }
}
