<div class="country-info__information">
  <div class="country-info__flag"></div>
  <p><span>capital: </span>{{country?.capital}}</p>
  <p><span>region: </span>{{country?.region}}</p>
  <p><span>subregion: </span>{{country?.subregion}}</p>
  <p><span>population: </span>{{country?.population|populationRounder}}</p>
  <p><span>timezone: </span>{{country?.timezone}}</p>
  <p><span>languages: </span>{{languages}}</p>
  <p><span>currencies: </span>{{currencies}}</p>
  <div class="country-info__map"></div>
  <div class="rating"></div>
</div>