@if(error){

<p>no such country</p>
} @else{
<app-presentation [isCountry]="true" [countryName]="currentCountry?.commonName"
  [offName]="currentCountry?.offName" [src]="mainImgSrc"></app-presentation>
<!-- <div class="country-info__main">
  <img class="country-info__main-img" [src]="mainImgSrc" />
  <h2 class="country-info__off-name">{{currentCountry?.offName}}</h2>
  <h4 class="country-info__common-name">{{currentCountry?.commonName}}</h4>
</div> -->

<app-country-details [country]="currentCountry"></app-country-details>
<div class="country-info__gallery"></div>
}